<% @page_name = @cocktail.name %>
<% @banner_photo = 'summer_cocktails.jpg' %>
<%= render 'shared/banner' %>

<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="cocktail-card">
        <div class="cocktail-photo avatar-large">
          <% if @cocktail.photo? %>
            <%= cl_image_tag @cocktail.photo.path, crop: :fill, class: "cocktail-photo avatar-large" %>
          <% else %>
            <%= image_tag ('stock_cocktail.png'), class: "cocktail-photo avatar-large" %>
          <% end %>
        </div>
        <div class="cocktail-info">
          <h1><%= @cocktail.name %></h1>
          <h4>Votes: <%= @cocktail.rating %></h4>
          <p>Difficulty: </p>
          <p>Time: </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
        <div class="recipe-name">
          <h2>Recipe</h2>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dose-modal">
            Add ingredient
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <% @cocktail.doses.each do |dose|%>
        <% if dose.description.nil? || dose.ingredient.nil? %>

        <% else %>
          <div class="col-xs-12 col-sm-6 col-sm-3">
            <div class="ingredient-card">



              <div class="ingredient-name">
                <%= dose.description%> of <%= dose.ingredient.name %>
              </div>
              <div class="ingredient-delete">
                <%= link_to "Delete ingredient", cocktail_dose_path(dose.cocktail, dose), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Model to add a new dose -->
<div class="modal fade" id="dose-modal" tabindex="-1" role="dialog" aria-labelledby="dose-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="dose-modal-label">Add ingredient</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.error_notification %>

          <%= f.input :description %>
          <%= f.association :ingredient %>

          <%= f.button :submit, input_html: { class: "btn btn-danger"}%>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add ingredient</button>
      </div>
    </div>
  </div>
</div>




